@media(max-width: 1199px)
{
.nav-tabs.nav-stacked > li > a{font-size: 15px;}
    .how-works .tab-pane .mask .callout.Reporting{ width: 460px;}
    .how-works .tab-pane .mask .callout.Reporting .box {bottom: -19px;height: 291px;width: 382px;}
    .how-works .tab-pane .mask .callout.Reporting .dot {right: 73px;top: 44px;}
    .how-works .tab-pane .mask .callout.Reporting .line{right: 2px; top: 37px;}
    /*Conversion*/
    .how-works .tab-pane .mask .callout.Conversion{width: 524px;}
    .how-works .tab-pane .mask .callout.Conversion .box{height: 299px; top: 69px; width: 222px;}
    .how-works .tab-pane .mask .callout.Conversion .dot{ left: 216px;}
    .how-works .tab-pane .mask .callout.Conversion .line{right: -44px;}
    /*Disputing*/
    .how-works .tab-pane .mask .callout.Disputing{ width: 455px;}
    .how-works .tab-pane .mask .callout .box{ width: 378px; height: 200px; bottom: 61px;}
    .how-works .tab-pane .mask .callout.Disputing .dot{ bottom: 59px;right: 73px;}
    .how-works .tab-pane .mask .callout.Disputing .line{ bottom: 64px;right: -30px;transform: rotate(0deg);}
    /*Recommendations*/
    .how-works .tab-pane .mask .callout.Recommendations{ width: 457px;}
    .how-works .tab-pane .mask .callout.Recommendations .box{ bottom: -13px; height: 317px;width: 379px;}
    .how-works .tab-pane .mask .callout.Recommendations .line{ right: -2px;}
    .how-works .tab-pane .mask .callout.Recommendations .dot{right: 73px;}
    /*Compliant*/
    .how-works .tab-pane .mask .callout.Compliant{width: 457px;top: -17px;}
    .how-works .tab-pane .mask .callout.Compliant .box{width: 383px;}
    .how-works .tab-pane .mask .callout.Compliant .line{ bottom: -42px;right: 15px;width: 265px; transform: rotate(34deg);}
    .how-works .tab-pane .mask .callout.Compliant .dot{right: 251px;}

    .OR:before, .OR:after{ width: 15px;}
	.how-works .tab-pane img{max-width:100%;}
	.how-works .item img{max-width:750px;}
	.how-works .nav-tabs > li > a{padding: 10px;font-size: 13px;}
	.how-works .carousel-control.left {left: -3px;}
	.how-works .carousel-control.right {right: -3px;}

}
@media(max-width: 991px)
{
.nav-tabs.nav-stacked
	{
	 padding-top: 60px;	
	}
.nav-tabs.nav-stacked > li > a
{
  font-size: 14px;	
   padding: 10px;
}
.nav-tabs.nav-stacked > li > a img
{
max-height:35px;	
}
.nav-tabs.nav-stacked > li.active > a:before, .nav-tabs.nav-stacked > li > a:hover:before
{
border-width:15px;
left: -14px;
top: 13px;	
}
.section-title h1
{
font-size: 25px;	
}
.section-title p {
    font-size: 18px;
}
.slider
{
 min-height: 500px;	
}
.slider h1
{
   font-size: 36px;	
}
.slider p
{
 font-size: 20px;	
}
.slider .slider-description
{
 left: 0%;
right: 0%; 
}
.nav-tabs.simple-navstacked li > a h3
{
font-size: 16px;	
}
.nav-tabs.simple-navstacked li > a p
{
font-size: 13px;	
}
.nav-tabs.simple-navstacked
{
 padding-top: 0;	
}
.block-title h1
{
 font-size: 20px;
}
.nav-tabs.nav-stacked > li.active > a .ring
{
display:none;	
}
.how-works .tab-content {
    max-height: 440px;
}
.nav-tabs.nav-stacked > li > .ring{height: 20px;line-height: 19px;width: 20px; top: 17px; right: 10px;}
.nav-tabs.nav-stacked > li > .ring:after{  font-size: 20px;}
.how-works .tab-pane .mask .callout.Reporting{ width: 358px; top: 55px; height: 320px;}
.how-works .tab-pane .mask .callout.Reporting .box{ bottom: 19px; height: 253px;width: 290px;}
.how-works .tab-pane .mask .callout.Reporting .dot{right: 64px;}
.how-works .tab-pane .mask .callout.Reporting .line{top: 35px;right: -5px;}
    /*Conversion*/
.how-works .tab-pane .mask .callout.Conversion{width: 410px;}
.how-works .tab-pane .mask .callout.Conversion .box{height: 237px; top: 27px;width: 171px;}
.how-works .tab-pane .mask .callout.Conversion .dot{left: 165px;}
.how-works .tab-pane .mask .callout.Conversion .line{ right: -94px; top: 69px;transform: rotate(-23deg);}
    /*Disputing*/
.how-works .tab-pane .mask .callout.Disputing{width: 357px;top: 87px;}
.how-works .tab-pane .mask .callout .box{width: 285px;height: 162px;bottom: 101px;}
.how-works .tab-pane .mask .callout.Disputing .dot{ bottom: 133px; right: 68px;}
.how-works .tab-pane .mask .callout.Disputing .line{ bottom: 139px; right: -35px;}
    /*Recommendations*/
.how-works .tab-pane .mask .callout.Recommendations{ width: 359px;}
.how-works .tab-pane .mask .callout.Recommendations .box{ bottom: 94px;height: 227px;width: 293px;}
.how-works .tab-pane .mask .callout.Recommendations .dot{right: 62px;bottom: 145px;}
.how-works .tab-pane .mask .callout.Recommendations .line{right: -12px; bottom: 150px;}
    /*Compliant*/
.how-works .tab-pane .mask .callout.Compliant{ width: 358px;}
.how-works .tab-pane .mask .callout.Compliant .box{bottom: 42px; bottom: 123px; height: 137px;width: 293px;}
.how-works .tab-pane .mask .callout.Compliant .dot{ bottom: 117px;}
.how-works .tab-pane .mask .callout.Compliant .line{bottom: 75px;right: 15px; transform: rotate(22deg); width: 250px;}
.Improve
{text-align:center;	}
.Improve img{margin-top:20px;}
.Work{text-align:center;}
.Work img{margin-bottom:20px;}
.form-group.mar_right_0 {margin-right: -15px;}
.how-works .nav-tabs > li > a {font-size: 11px;padding: 10px 8px;}
.how-works .item img{max-width:100%;}
}
/* ============================ */

@media(max-width: 767px)
{
.section-title {
    margin-bottom: 30px;
}	
.padd_0 {
    padding-left: 15px;
    padding-right: 15px;
}
.padd_right_0 {
    padding-right: 15px;
}
.padd_left_0 {
    padding-left: 15px;
}
.nav-tabs.nav-stacked
{
padding-top:0;	
}
.nav-tabs.nav-stacked > li > a
{
margin-bottom:0;	
}
.nav-tabs.nav-stacked > li.active > a:before, .nav-tabs.nav-stacked > li > a:hover:before
{content:none;}
.how-works
{
padding-bottom:40px;	
}
.navbar-brand
{
padding: 10px 20px;	
}

header .navbar-collapse
{
background:#fff;	
}
header .navbar-collapse .main-menu
{
margin:0 -15px;	
 border-top: 1px solid #ddd;
}
.home-page .main-menu > li > a
{
color: #555;
}
.main-menu > li > a
{
border-bottom: 1px solid #e0e0e0;
 padding: 20px 13px;	
}
.heder-links
{
float: none;
    margin: 0;
    padding: 23px 0;
    text-align: center;	
}
.transp-header .main-menu > li > a{color: #999;}
.transp-header .main-menu > li > a:hover{color: #eb6133;}
.transp-header .heder-links .btn-white-outline {
    border-color: #999;
    color: #999;
}
.oldNew-way .section-title h1
{
 font-size: 15px;
}
.way-box img
{max-height: 35px;}
.way-box h4{font-size: 12px; margin: 10px 0;}
.way-box p{ font-size: 11px;}
.versase{ font-size: 15px;  height: 30px;line-height: 25px; margin: 363px auto 0; width: 30px;}
.versase:after{ left: 11px;  height: 350px;bottom: 37px;}
.versase:before{ left: 11px; height: 470px;top: 37px;}

.copyright
{
font-size: 14px;	
}
.page_title
{
padding: 50px 0;	
}
.page_title h1
{
 font-size: 25px;	
}
.page_title p
{
 font-size: 20px;	
}
.nav-tabs.simple-navstacked {
    padding: 20px 0;
}
.block-title
{
text-align:center;
}
.contact-form 
{
margin-bottom:20px;	
}
.nav-tabs.nav-stacked {padding: 0 0 15px;}
.how-works .tab-content { max-height:100%; text-align: center;}
.nav-tabs.nav-stacked > li.active > .ring{display: none;}

/*==== pricing-boxes Start ====*/
 .pricing-boxes
{
margin:0;
}
.pricing-table
{border:1px solid #e5e5e5 ;}
.pricing-boxes .nav-tabs.nav-justified
{
        display: table;
}
.pricing-boxes .tab-content
{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 31px 21px;
}
#gold .pricing-table
{
margin:0;
}
    .pricing-boxes .tab-content > .tab-pane
    {
        display: none;
    }
    .pricing-boxes .tab-content > .tab-pane.active#gold
    {
        display: block;
    }
.pricing-boxes #silver,
.pricing-boxes #gold,
.pricing-boxes #bronze,
.pricing-boxes #platinum
{
display: none;
}
.pricing-boxes .active#silver,
.pricing-boxes .active#gold,
.pricing-boxes .active#bronze,
.pricing-boxes .active#platinum
{
display: block;
}
    .offer-table
    {
        font-size: 15px;
    }
    .offer-table > tbody tr > td:first-child
    {
    text-align: left;
    }

    .help-text {
        padding: 14px 0;
    }
    .pricing-boxes > div.padd_0
    {padding: 0;}
    .pricing-boxes .nav-tabs.nav-justified > li > a
    {   font-size: 10px;  padding: 10px 2px;}

    /*==== pricing-boxes END ===*/


.hero-section h1 {
    color: #fff;
    font-size: 30px;
}
.hero-section p 
{
font-size: 18px;
}
.intro-section 
{
margin-bottom: 15px;
}
.why-repair .box
{
margin-bottom:20px;	
}
.page-title h1 {
font-size: 25px;}
.page-title p{font-size: 19px;}

.home-features .box {
    margin-bottom: 50px;
}
.home-features .row > div:last-child .box{margin-bottom:0;}
.Get-Started a{ font-size: 40px;}
.Empower{margin-bottom: 0;}
.or-box{display: none;}
    .pricing-plan-hero{padding-bottom: 0;}
    .border-left{border: none;text-align: center;}
.Get-Started-pop .btn{min-width:100%; margin: 10px 0;}	
.how-works .nav-tabs{width:100%;}
.how-works .nav-tabs > li{float:none;}	
.enroll-slider.slider p{font-size: 18px;}	
.testimonials .carousel-caption .description{ font-size: 24px;}
.dot__inner{display:none;}
.how-works .carousel-control.left{left:0;}
.how-works .carousel-control.right{right:0;}
}
/* ============================ */

@media(max-width: 610px)
{



}
/* ============================ */
@media(max-width: 560px)
{




	
}
/* ============================ */
@media(max-width: 480px)
{
.slider .slider-description
{
top: 30%;	
}	
.slider h1 {
    font-size: 35px;
}
.slider {
    min-height: 400px;
}
.teambox-bottom h4
{
font-size: 13px;	
}
.team-member .teambox-bottom
{
text-align:center !important;	
}
.team-member .social a i
{
 line-height: 0;	
}
.team-member span
{
 margin-bottom: 0px;	
}
.team-member .social
{
padding: 5px 0;
}
.Fineras-Demo-screen img
{
display:none;	
}
.way-box { min-height: 150px;}
.pricing-boxes .nav-tabs.nav-justified > li > a{font-size: 14px;padding:10px 0}
.slider.enroll-slider h1{ font-size: 26px;}
.enroll-slider.slider p{ font-size: 14px;}
.testimonials .carousel-caption .description{font-size: 17px;}
.testimonials .client-name{font-size: 15px;}
.testimonials .city-name{font-size: 13px;}
.btn-lg{font-size: 15px; padding: 12px 18px;}
.nav.navbar-nav.footer-nav{margin: 0 0 15px;}
.navbar-nav.footer-nav > li {display:block;}
.navbar-nav.footer-nav > li a{ padding: 19px 12px; border:none;border-bottom: 1px solid #454545; box-shadow: 0 1px 0 #5e5e5e;}
.copyright{padding: 0 0 30px;}
}
/* ======================= */
@media(max-width: 479px)
{
.home-slider .btn,  .Get-Started-pop .btn{font-size: 13px;}
.Get-Started a {font-size: 28px;}
 .slider .btn{ min-width: 150px;  padding: 13px 20px;}

}

@media(max-width: 360px)
{
.common-form
{
 padding: 20px 19px 15px;	
}
.Leadership > .row > div
{
width:100%;	
}
.slider h1 { font-size: 30px;}

}
