body
{
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-rendering: optimizelegibility;
    font-weight:lighter;
    font-weight: 300;
}
.modal-open {padding-right: 0 !important; overflow: auto;}
h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    font-family: 'Montserrat', sans-serif;
    color:#555;
}
img
{
    max-width:100%;
}
p {
    color: #888;
    font-size: 19px;
}
a
{
    color:#EB6133;	
}
a:hover
{
    transition: all 0.3s ease-in-out 0s;	
}
section
{
    padding:15px 0;	
}
.grey-background
{
    background:#dddddd;	
}
.lightgrey-background
{
    background:#F6FCFE;	
    border-top:1px solid #eff5f7;
    border-bottom:1px solid #eff5f7;
}
.lightblue-background
{background:#63B7E3 ;}
.blue-background
{background:#014b66 ;}
.navyblue-background
{background:#307BBB;}
.green-background
{background:#7B9F0C;}
.orange-background
{background:#eb6133;}
.padd_right_0
{
    padding-right:0;	
}
.padd_left_0
{
    padding-left:0;	
}
.padd_0
{
    padding:0;	
}
.padd_bott_0
{
    padding-bottom: 0	
}
.form-group.mar_right_0
{
    margin-right: 0	
}
.section-action
{
    padding:30px 0 10px;	
}
.btn
{
    border:none;
    border-radius:2px;
    padding:8px 20px;
    font-size:15px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
}
.btn-lg
{
    font-size: 20px;
    font-weight: 300;
    padding: 14px 28px;
}
.btn-md
{
    font-size: 18px;
    padding: 13px 40px;	
}
.btn-xl
{
    font-size: 25px;
    font-weight: 300;
    padding: 11px 40px;
}
.btn-xxl
{
    font-size: 35px;
    font-weight: 300;
    padding: 20px 50px;
}
.btn-success
{
    background:#8dab00;
    color:#fff;
}
.btn-success-outline
{
    background:none;
    color:#8dab00;	
    border:1px solid #8dab00;
}
.btn-success-outline:hover
{
    background:#8dab00;	
    color:#fff;
}

.btn-white-outline
{
    background:none;
    color:#fff;	
    border:1px solid #fff;
    padding:7px 20px;
}
.btn-white-outline:hover
{
    background:#fff;	
    color:#19355c;
}

.btn-info
{
    background:#19b1bb;
    color:#fff;
}
.btn-red
{
    background: #df5b48 none repeat scroll 0 0;
    color: #fff;
    text-transform:uppercase;
}
.btn-red:hover
{
    background:#45b39c;
    color:#fff;	
}
.btn-primary
{
    background:#EB6133;	
}
.btn-primary:hover
{
    background:#cb4113;	
}
.btn-orange
{
    background:#ff7f01;	
    color:#fff;
}
.btn-orange:hover
{
    background:#d36745;	
    color:#fff;
}
.btn.btn-white-outline.btn-lg 
{
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 28px;
}
.btn.btn-white-outline.btn-lg:hover
{
    background:#63b7e3;
    border-color:#63b7e3;
} 
.btn-primary-outline 
{
    border: 2px solid #3787cf;
}
.btn-primary-outline:hover
{
    background:#3787cf;
    color:#fff;
}
.btn-blue
{
    background:#014b66  ;
    color:#fff;	
}
.btn-blue:hover
{
    background:orange;
    color:#fff;	
}
.btn-gray
{
    background:#a7a7a7;
    color:#fff;	
}
.btn-blue
{background:#63b7e3;color:#fff;}
.btn-blue:hover
{background:#489cc8;color:#fff;}
.btn-blue-outline
{background:none;color:#63b7e3;border:1px solid #63b7e3;}
.btn-blue-outline:hover
{background:#63b7e3;color:#fff;border:1px solid #63b7e3;}

.btn i
{
    float: left;
    font-size: 22px;
    line-height: 0;
    padding-right: 2px;
}
.main_wrapper 
{
    padding-top: 76px;	
}
.transp-header.main_wrapper 
{
    padding-top: 0px;	
}
.page-title {
    margin-bottom: 25px;
}
.page-title h1 {
    margin-top: 0;
    font-size: 30px;
}
.page-title p {
    font-size: 22px;
    margin: 0;
}
.white.page-title h1, .white.page-title p {
    color: #fff;
}

/* ============ header======== */
.navbar-static-top {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    /*  box-shadow: 0 0 2px #a5a5a5; */
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border: medium none;
}
.navbar-toggle
{
    font-size:38px;
    line-height: normal;	
    padding: 6px 10px;
    display: none;
}
.navbar-toggle:hover
{
    color:#EB6133;	
}

.navbar-brand .white-logo
{
    display:block;	
}

.transp-header .navbar-static-top
{
    background:none;	
}

.transp-header .navbar-brand .white-logo
{
    display:block;	
}
.transp-header .navbar-brand .blue-logo
{
    display:none;	
}

.navbar-brand {
    height: auto;
    padding: 10px 0;
}

.heder-links {
    float: right;
    margin:19px 0 19px 20px;
    text-transform:uppercase;
}
.heder-links .btn-white-outline {
    border-color: #999;
    color: #999;
}
.transp-header .heder-links .btn-white-outline {
    border-color: #fff;
    color: #fff;
}
.heder-links .btn:last-child
{
    margin-left:5px;	
}
.heder-links .btn i {
    font-size: 22px;
    line-height: 0;
}
.btn.login-btn:hover {
    background: #63b7e3 none repeat scroll 0 0;
    border-color: #63b7e3;
    color: #fff;
}
.brands {
    padding: 7px 0;
}
.main-menu > li > a
{
    color: #555;
    padding:27px 13px;
    text-transform:uppercase;
    font-size:15px;
    font-weight:normal;
}
.transp-header .main-menu > li > a
{
    color: #fff;	
}
.main-menu > li > a:focus,
.main-menu > li > a:hover,
.main-menu > li.active > a
{
    background:none;
    color:#eb6133;	
    text-decoration:none;
    outline:none;
}
/* --------FIXED header------- */

.fixed.navbar-static-top, 
.transp-header .fixed.navbar-static-top, .step-page.navbar-static-top, .transp-header .step-page.navbar-static-top
{
    /*background:#2F373E;	
    box-shadow: 0 0 2px #a5a5a5;*/
}
.transp-header .step-page.navbar-static-top
{
    /*background:#2F373E !important;	
    box-shadow: 0 0 2px #a5a5a5 !important;*/
}

.fixed .main-menu > li > a
{
    color:#555;	
}
.fixed .main-menu > li > a:hover
{
    color:#eb6133;	
}
.transp-header .fixed .navbar-brand .blue-logo,
.fixed .navbar-brand .blue-logo, .step-page .navbar-brand .blue-logo
{
    display: none;
}
.fixed .navbar-brand .white-logo, .step-page .navbar-brand .white-logo
{
    display: block;
}

.fixed  .heder-links .btn-white-outline
{
    border-color:#999;
    color:#999;	
}
.fixed  .heder-links .btn-white-outline:hover
{
    color:#fff;
    border:1px solid #63b7e3;	
}
/* --------FIXED header------- */

/* ============ header END ======== */

/* ============ Slider ======== */

.slider {
    background: rgba(0, 0, 0, 0) url("../images/slider-bg.jpg") repeat scroll center center / cover ;
    min-height: 672px;
    padding: 100px 0 55px;
    position: relative;
}
.slider.home-slider {
    background: rgba(0, 0, 0, 0) url("../images/main-slider-bg.jpg") repeat scroll 0 0 / cover ;
}
.slider .slider-description {
    left: 15%;
    position: absolute;
    right: 15%;
    top: 38%;
}

.slider h1
{
    color: #fff;
    font-size: 75px;
    margin-bottom: 15px;
    font-weight:bold;
}

.slider h1 span
{
    color:#fff; 
    /*#63b7e3*/	
}
.slider p {
    color: #fff;
    font-size: 35px;
    line-height: normal;
    margin-bottom: 30px;
    padding: 0;
}
.slider .btn
{
    margin:0 5px 8px 0;
    min-width: 205px;
}

/* ============ Slider ======== */

.Get-Started-pop .btn
{min-width: 205px;margin-bottom:8px; padding: 13px 25px;}
.Get-Started-pop p{font-size:24px;}

/* ============ Home-page ======== */
/* --- features -- */
.home-features 
{
    background: -moz-radial-gradient(center, ellipse cover, rgba(43,150,189,1) 0%, rgba(0,36,51,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(43,150,189,1)), color-stop(100%, rgba(0,36,51,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(43,150,189,1) 0%, rgba(0,36,51,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(43,150,189,1) 0%, rgba(0,36,51,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(43,150,189,1) 0%, rgba(0,36,51,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(43,150,189,1) 0%, rgba(0,36,51,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B96BD', endColorstr='#002433',GradientType=1 ); /* ie6-9 */
    padding: 80px 0;	
}
.home-features .box h3 {
    color: #fff;
    font-weight: 400;
    margin-top: 15px;
}
.home-features .box p
{
    color:#fff;	
}
/* --- why-repair -- */
.Get-Started
{
    background:#fff;	
    padding:0;
}
.Get-Started a 
{
    background: rgba(0, 0, 0, 0) url("../images/slider-bg.jpg") no-repeat scroll center center / cover;
    color: #ffffff;
    display: block;
    font-family: "Montserrat",sans-serif;
    font-size: 54px;
    font-weight: bold;
    padding: 82px 0;
    text-transform: uppercase;
    cursor:pointer;
}
.Get-Started a:hover{color:#63b7e3;text-decoration:none;}
.Empower
{
    margin-bottom: -170px;
    position: relative;
    z-index: -1;
}
/* ============ Home-page ======== */

.footer
{
    text-align:center;
    background: #555 none repeat scroll 0 0;
    /* padding: 50px 0 0; */	
    padding: 10px 0 0;	
}
.copyright {

    color: #999;
    padding: 30px 0;
    text-align: center;
    font-size: 15px;
}
.nav.navbar-nav.footer-nav {
    display: table;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.navbar-nav.footer-nav > li {
    display: inline-block;
    float: none;
}
.navbar-nav.footer-nav > li a
{
    border-right: 1px solid #454545;
    box-shadow: 1px 0 0 #5e5e5e;
    color: #999;
    line-height: 0;
    margin: 0;
    padding: 7px 12px;
}
.navbar-nav.footer-nav > li:last-child a
{
    border-right:none;
    box-shadow: none;
}
.navbar-nav.footer-nav > li a:hover {
    color: #EB6133;
    text-decoration: none;
    background:none;
}
.social {
    border-bottom: 1px solid #454545;
    box-shadow: 0 2px 0 #5e5e5e;
    padding: 0 0 24px;
    display:none;
}
.social a:hover
{
    text-decoration:none;	
}
.social a i {
    background: #999 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 27px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    text-align: center;
    width: 45px;
    margin-right: 5px;
}
.social a i:hover
{
    background:#63b7e3 none repeat scroll 0 0;	
}
.social h3
{
    color:#fff;
    margin: 0 0 30px;
    font-size:25px;
}
/* ============ footer END ======== */
.section-title
{
    margin-bottom:50px;	
}
.section-title h1
{
    color: #343434;
    font-size: 45px;
    font-weight: normal;
    margin: 0 0 8px;
}
.section-title p
{
    font-size: 23px;
    font-weight: lighter;
    margin-bottom: 10px;
}
/* ============ How-works ======== */
.how-works
{
    padding-bottom:0;	
}
.how-works .tab-content {
    /*  max-height: 660px; */
    overflow: hidden;
    position: relative;
}

.dashboard-tour .dashboard-container .mask {
    overflow: hidden;
    position: absolute;
    right: -20px;
    top: 0;
    visibility: hidden;
}
@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
    100% {
        transform: scale3d(2.2, 2.2, 1);
        opacity: 0;
    }
}
.nav-tabs.nav-stacked > li > .ring
{
    /*   background-color: #fff; */
    border-radius: 50%;
    display: none;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 24px;
    transition: all 0.2s ease 0s;
    width: 30px;
    z-index: 100;
    cursor: pointer;
}
.nav-tabs.nav-stacked > li > .ring:after
{
    content:"\f359";
    font-family:ionicons;
    font-size: 33px;
    color:#fff;
    position: absolute;
    right: 1px;
    transition: all 0.4s ease 0s;
}
.nav-tabs.nav-stacked > li > .ring-minus:after
{
    transform:rotate(134deg);	
}
.nav-tabs.nav-stacked > li.active > .ring
{
    display:block;	
}
.nav-tabs.nav-stacked > li.active .ring .outer-ring {
    animation: 1.5s ease 0s normal none infinite running pulse;
    border-radius: 50%;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid #fff;
}
.nav-tabs.nav-stacked > li.active .ring-minus .outer-ring
{
    border:none;	
}
.how-works .tab-pane .mask {
    overflow: hidden; 
    position: absolute;
    right: -20px;
    top: 0;
    visibility: hidden;
    transition: all 0.4s linear 0s;

}
.how-works .tab-pane .show.mask {
    visibility: visible;
}

.how-works .tab-pane#Disputing .mask{
    height: 398px;
    width: 0;
}
.how-works .tab-pane#Disputing .show.mask {
    width: 560px;
}
.how-works .tab-pane .mask .callout {
    position: absolute;
}
.how-works .tab-pane .mask .callout.Disputing {
    height: 275px;
    right: 0;
    top: 120px;
    width: 555px;
}
.how-works .tab-pane .mask .callout .line {
    background-color: #eb6133 ;
    display: block;
    height: 1px;
    position: absolute;
}
.how-works .tab-pane .mask .callout.Disputing .line {
    background-color: #eb6133 ;
    bottom: 83px;
    right: 23px;
    transform: rotate(25.5deg);
    width: 108px;
}
.how-works .tab-pane .mask .callout .box {
    border: 1px solid #eb6133;
    bottom: 8px;
    display: block;
    height: 234px;
    position: absolute;
    width: 430px;
}
.how-works .tab-pane .mask .callout .dot {
    background-color: #eb6133 ;
    border-radius: 50%;
    display: block;
    height: 11px;
    position: absolute;
    width: 11px;
}
.how-works .tab-pane .mask .callout.Disputing .dot 
{
    bottom: 101px;
    right: 120px;
}

/* Reporting-view */

.how-works #Reporting.tab-pane .mask {
    height: 470px;
    width: 0;
}
.how-works #Reporting.tab-pane .show.mask {
    width: 555px;
}
.how-works .tab-pane .mask .callout.Reporting {
    height: 320px;
    right: 0;
    top: 120px;
    width: 555px;
}
.how-works .tab-pane .mask .callout.Reporting .line {
    background-color: #eb6133;
    right: 35px;
    top: 50px;
    transform: rotate(-20.5deg);
    width: 81px;
}
.how-works .tab-pane .mask .callout.Reporting .dot {
    right: 110px;
    top: 60px;
}
.how-works .tab-pane .mask .callout.Reporting  .box
{
    height: 275px;
    bottom: -20px;
    width: 440px;   
}
/* Reporting-view */

/* tools Recommendations-view */

.how-works #Recommendations.tab-pane .mask {
    height: 530px;
    width: 0;
}
.how-works #Recommendations.tab-pane .show.mask {
    width: 555px;
}
.how-works .tab-pane .mask .callout.Recommendations {
    height: 405px;
    right: 0;
    top: 35px;
    width: 555px;
}
.how-works .tab-pane .mask .callout.Recommendations .line {
    background-color: #eb6133;
    bottom: 23px;
    right: 34px;
    transform: rotate(0deg);
    width: 81px;
}
.how-works .tab-pane .mask .callout.Recommendations .dot {
    right: 110px;
    bottom: 18px;
}
.how-works .tab-pane .mask .callout.Recommendations  .box
{
    bottom: -80px;
    height: 341px;
    width: 440px;  
}
/* tools Recommendations-view */

/*  Compliant-view */

.how-works #Compliant.tab-pane .mask {
    height: 530px;
    width: 0;
}
.how-works #Compliant.tab-pane .show.mask {
    width: 555px;
}
.how-works .tab-pane .mask .callout.Compliant {
    height: 405px;
    right: 0;
    top: 35px;
    width: 555px;
}
.how-works .tab-pane .mask .callout.Compliant .line {
    background-color: #eb6133;
    bottom: -17px;
    right: 22px;
    transform: rotate(33deg);
    width: 174px;
}
.how-works .tab-pane .mask .callout.Compliant .dot {
    bottom: 27px;
    right: 176px;
}
.how-works .tab-pane .mask .callout.Compliant  .box
{
    bottom: 32px;
    height: 219px;
    width: 440px;  
}
/*  Compliant-view */

/* Conversion-view */

.how-works #Conversion.tab-pane .mask {
    height: 571px;
    width: 0;
}
.how-works #Conversion.tab-pane .show.mask {
    width: 640px;
}
.how-works .tab-pane .mask .callout.Conversion {
    height: 469px;
    right: 0;
    top: 106px;
    width: 634px;
}
.how-works .tab-pane .mask .callout.Conversion .line {
    background-color: #eb6133;
    right: 30px;
    top: 137px;
    transform: rotate(0deg);
    width: 346px;
}
.how-works .tab-pane .mask .callout.Conversion .dot {
    left: 252px;
    top: 132px;
}
.how-works .tab-pane .mask .callout.Conversion  .box
{
    height: 368px;
    top: 95px;
    width: 258px;
}
/* Conversion-view */


.how-works .nav-tabs{border-bottom: medium none;display: table; margin: 0 auto 30px;text-align: center;}
.how-works .nav-tabs > li > a
{color:#014b66 ;font-weight:500;border:none;border-bottom:2px solid #eee;font-family:"Montserrat",sans-serif;padding: 10px 13px;margin-right:0;}
.how-works .nav-tabs > li > a img{max-width: 45px;}
.how-works .nav-tabs > li.active > a, 
.how-works .nav-tabs > li.active > a:focus,
.how-works .nav-tabs > li.active > a:hover
{
    border:none;
    border-bottom:2px solid #09d;	
    outline:none;
    background:none;
}
.how-works .nav-tabs > li > a:hover, .how-works .nav-tabs > li > a:focus{background:none;border:none;
                                                                         border-bottom:2px solid #09d;	
                                                                         outline:none;}
.how-works .tab-pane img
{ border: 1px solid #dddddd;border-radius: 5px 5px 0 0;box-shadow: 1px 2px 10px #ccc;max-width: 950px;}

.dot__inner{position: absolute;top: 30%;left: 39%;width: 194px;animation: 22s ease-in-out 0s normal none infinite running shakesmooth;}
.dot__inner-content {
    background-color: #63b7e3;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 187, 214, 0.1);
    opacity: 1;
    padding:25px 20px;
    transition: all 0.4s ease 0s;
    color:#fff;

}

.dot__inner .ring
{
    /*   background-color: #fff; */
    border-radius: 50%;
    display: none;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: -31px;
    text-align: center;
    top: -7px;
    transition: all 0.2s ease 0s;
    width: 30px;
    z-index: 100;
    cursor: pointer;
    left:-12px;
}

.dot__inner .ring:after
{
    content:"\f3a7";
    font-family:ionicons;
    font-size: 33px;
    color:#06A7CB;
    position: absolute;
    right: 1px;
    transition: all 0.4s ease 0s;
}
.dot__inner .ring-minus:after
{
    transform:rotate(134deg);	
}
.dot__inner .ring
{
    display:block;	
}
.dot__inner .ring .outer-ring {
    animation: 1.5s ease 0s normal none infinite running pulse;
    border-radius: 50%;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid #63b7e3;
}
.dot__inner .ring-minus .outer-ring
{
    border:none;	
}
#Reporting .dot__inner{ left: 36%;  top: 44%;}
.how-works .item{text-align:center;}
.how-works .item img{display: inline; border: 1px solid #dddddd;
                     border-radius: 5px 5px 0 0; box-shadow: 1px 2px 10px #ccc; max-width: 1000px;}
.how-works .carousel-control{background:none !important; opacity: 0.5;width:10%}
.how-works .carousel-control:hover{opacity: 0.9;}
.how-works .carousel-control.left{ left: -60px; display: none;}
.how-works .carousel-control.right{ right: -60px; display: none;}
.comparison .dot__inner{left: 42%;top: 40%;}
.PickPlan .dot__inner{left: 25%;top: 70%;}
.Dispute .dot__inner{left: 75%; top: 20%;}
.full-report .dot__inner{left: 45%;top: 10%;}
.dispute-progress .dot__inner{left: 19%;top: 24%;}

/* ============ How-works END======== */

.oldNew-way
{	
    color:#fff;
    background: -moz-radial-gradient(center, ellipse cover, rgba(43,150,189,1) 0%, rgba(0,36,51,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(43,150,189,1)), color-stop(100%, rgba(0,36,51,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(43,150,189,1) 0%, rgba(0,36,51,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(43,150,189,1) 0%, rgba(0,36,51,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(43,150,189,1) 0%, rgba(0,36,51,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(43,150,189,1) 0%, rgba(0,36,51,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B96BD', endColorstr='#002433',GradientType=1 ); /* ie6-9 */
}
.oldNew-way .section-title h1
{
    color:#fff;	
}
.way-box
{
    text-align:center;	
    margin-bottom:40px;
}
.way-box h4
{
    font-size:20px;	
    margin: 15px 0;
    color:#fff;
}
.way-box p
{
    color:#fff;	
}
.versase {
    background: #fff none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 100%;
    color: #014b66 ;
    font-size: 35px;
    font-weight: normal;
    height: 90px;
    line-height: 83px;
    margin:468px auto 0;
    position: relative;
    text-align: center;
    width: 90px;
}
.versase:after {
    background: #fff none repeat scroll 0 0;
    bottom:0;
    content: "";
    height: 446px;
    left: 42px;
    position: absolute;
    width: 2px;
}

.versase:before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 500px;
    left: 42px;
    position: absolute;
    top: 45px;
    width: 2px;
}
/* ============ oldNew-way END======== */

.more-box
{
    background: #eeeeee none repeat scroll 0 0;
    padding: 30px;
    margin-bottom:15px;
    min-height: 185px;
}
.more-box h4
{
    color:#555;	
    font-size:20px;
}

.more-box h4
{
    color:#555;	
    font-size:20px;
}
.more-box p
{
    color: #999999;
}

/* ============ more- END======== */
.page_title {
    /* background: rgba(0, 0, 0, 0) url(../images/title-bg.jpg) repeat scroll 0 0 / cover; */
    color: #fff;
    /*margin-bottom: 50px;*/
    padding: 25px 0;
    position: relative;
    text-align: center;
    background: #317596;
    margin-top: 0px;
}
.page_title h1, .page_title h2, .page_title h3 {
    font-size: 30px;
    margin: 0;
    color: #fff;
}
.page_title p {
    font-size: 23px;
    margin: 0;
    padding-top: 10px;
    color: #fff;
}
/* ============ Page Title======== */
.block-title h1
{
    color: #343434;
    font-size: 25px;
    font-weight: normal;
    margin:0 0 10px;
}


.product-tour
{
    padding-bottom:0;	
}

/* ============ Roduct-tour END======== */

/* ============ nav-stacked======== */
.nav-tabs.nav-stacked
{
    border-bottom:none;
    padding-top: 120px;	
}
.nav-tabs.nav-stacked > li > a
{
    background:#dddddd;	
    margin-bottom:13px;
    border-radius:0;
    border:none;
    font-size:20px;
    color:#555;
    /* transition:all 0.2s ease; */
    font-family: 'Montserrat', sans-serif;
    position:relative;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li.active > a, 
.nav-tabs.nav-stacked > li.active > a:focus,
.nav-tabs.nav-stacked > li.active > a:hover
{
    background:#014b66 ;	
    color:#fff;
    border:none;
    outline:none;
}
.nav-tabs.nav-stacked > li.active > a.orange
{
    background:#eb6133 ;	
}
.nav-tabs.nav-stacked > li.active > a:before,
.nav-tabs.nav-stacked > li > a:hover:before
{
    border-bottom: 20px solid transparent;
    border-right: 20px solid #014b66 ;
    border-top: 20px solid transparent;
    content: "";
    left: -19px;
    position: absolute;
    top: 16px;
}
.nav-tabs.nav-stacked > li.active > a.orange:before
{
    /* border-color:#eb6133; */
    border-right: 20px solid #eb6133;
}
.nav-tabs.simple-navstacked
{
    padding-top: 20px;	
}
.nav-tabs.simple-navstacked li > a
{
    padding:15px 20px;	
}
.nav-tabs.simple-navstacked li > a h3
{
    margin: 0 0 5px;
    font-size:22px;	
}
.nav-tabs.simple-navstacked li > a p
{
    margin:0;
    font-size:16px;	
    font-family: 'Open Sans', sans-serif;
}

.nav-tabs.simple-navstacked li.active > a p,
.nav-tabs.simple-navstacked li.active > a h3,
.nav-tabs.simple-navstacked li > a:hover h3,
.nav-tabs.simple-navstacked li > a:hover p
{
    color:#fff;	
}
.nav-tabs.simple-navstacked > li.active > a:before, 
.nav-tabs.simple-navstacked > li > a:hover:before
{
    top: 31px;
}
.nav-tabs.nav-stacked.left > li.active > a:before,
.nav-tabs.nav-stacked.left > li > a:hover:before
{
    border-left: 20px solid #014b66 ;
    border-right: medium none;
    left: auto;
    right: -19px;	
}
.nav-tabs.nav-stacked.white > li > a
{
    background:#fff;	
}
.nav-tabs.nav-stacked.white > li.active > a,
.nav-tabs.nav-stacked.white > li > a:hover
{
    background: #014b66  none repeat scroll 0 0;
}
/* ============ nav-stacked END======== */
/* ============ Demo Page======== */
.contact-form
{
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 0 3px #ccc;
    padding:20px 36px 15px;
}
.contact-form .form-group > i {
    color: #c2c2c2;
    font-size: 28px;
    left: 15px;
    position: absolute;
    top: 7px;
}
.contact-form .form-group {
    position: relative;
}
.contact-form h4
{
    color:#555;	
    margin-bottom:30px;
}
.contact-form .form-control {
    /*     border: medium none; */
    border-radius: 2px;
    box-shadow: none;
    font-size: 20px;
    min-height: 50px;
    padding-left: 44px;
    padding-right: 0;
}

.features-list
{
    font-size:18px;	
    list-style:none;
    margin-bottom:30px;
    padding: 0;
    font-weight:500;
    color:#555;
}
.features-list li
{
    display: inline-block;
    padding: 10px 0 10px 32px;
    position: relative;
}
.features-list li:before
{
    background:#012d45; 
    border-radius: 100%;
    content: "\f121";
    float: left;
    font-family: ionicons;
    text-align: center;
    color:#fff;
    font-size: 14px;
    height: 25px;
    left: 0px;
    line-height: 25px;
    margin: 0 10px 20px 0;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 25px;
}
/* ============ Demo END======== */
/* ============ common-form ======== */
.common-form
{
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 0 3px #ccc;
    padding:20px 36px 15px;
    margin-bottom: 12px;
}
.common-form .form-group > i {
    color: #c2c2c2;
    font-size: 28px;
    left: 15px;
    position: absolute;
    top: 7px;
}
.common-form .form-group {
    position: relative;
}
.form-title
{
    margin-bottom:30px;		
}
.form-title h4
{
    color:#555;	
}

.common-form .form-control {
    /*     border: medium none; */
    border-radius: 2px;
    box-shadow: none;
    font-size: 20px;
    min-height: 35px;
    /*padding-left: 44px;*/
    padding-right: 0;
}
/* ============ common-form END======== */
/* ============ login-box======== */
.login-page
{
    background: rgba(0, 0, 0, 0) url("../images/slider-bg.jpg") repeat scroll 0 0 / cover ;
    min-height: 665px;
    padding: 100px 0 55px;
    position: relative;
}
.login_form.common-form
{
    box-shadow:none;	
}
.login-box
{
    margin:80px auto 0;
    max-width:394px;	
}
.need-demo
{
    font-family: "Montserrat",sans-serif;	
    color:#fff;
}
.need-demo a
{
    color:#EB6133;	

}
.fancy_checkbox
{
    font-size:14px;	
    font-family: "Montserrat",sans-serif;
}
/* ============ login-box END======== */
/* ============ About Us ======== */
.team-member {
    background: #fff none repeat scroll 0 0;
    border-radius: 1px;
    padding: 25px 16px 0;
    text-align: center;
    margin-bottom: 25px;
    transition:all 0.2s ease 0s;
}
.team-member .thumb {
    border-radius: 100%;
    max-height: 180px;
}
.team-member span {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    /* 	  font-family: "Montserrat",sans-serif; */
}
.team-member p {
    margin-bottom: 18px;
}
.teambox-bottom
{
    background: #f1f1f1 none repeat scroll 0 0;
    border-top: 1px solid #d7d7d7;
    margin-top: 35px;	
    text-align:left;
}
.team-member .social
{
    border-bottom:none;
    box-shadow:none;
    padding: 12px 0;

}
.team-member .social a i
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 39px;
    height: auto;
    margin-right: 0;
    padding: 0;
    width: auto;
    color:#999;

}
.team-member .social a i:hover
{
    color:#1D79BE;	
}
.team-member .thumb.funny
{
    display:none;	
}
.team-member:hover
{
    box-shadow:0 2px 0 #1D79BE;	
}
.team-member:hover  .social i
{
    color:#1D79BE;	
}
.team-member:hover .thumb.funny
{
    display:inline;	
}
.team-member:hover .thumb.pro
{
    display:none;	
}
/* ============ About Us======== */
/* ============ MODAL======== */

.plane-Popup .modal-content {
    border-radius: 0;
}
.plane-Popup button.close {
    position: absolute;
    right: 13px;
    top: 11px;
    z-index: 100;
}
.plane-Popup .modal-title {
    font-size: 30px;
    font-weight: normal;
    margin: 12px 0;
}
.plane-Popup .modal-title strong {
    color: #eb6133 ;
    font-weight: normal;
}
.modal-title .modal-largicon.success {
    color: #73a008 ;
}
.modal-title .modal-largicon {
    display: block;
    font-size: 76px;
    line-height: 0;
}
/* ============MODAL======== */
/* ============privacy======== */
.policies p {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 20px 0;
}
/* ============privacy======== */
section.Improve .page-title{  padding-top: 15px;}
/* ============improve-your-credit======== */
.hero-section.blue {
    background: #014b66  none repeat scroll 0 0;
}
.hero-section h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 300;
    margin: 0 0 10px;
}
.hero-section p {
    color: #fff;
    font-size: 27px;
    font-weight: 300;
    line-height: normal;
}
.hero-section.blue hr {
    border-color: #629398 ;
    margin: 20px 0 30px;
}
.hero-section .login-form {
    margin-top: 20px;
}
/* ---  LOGIN FORM-- */


.login-form .form-group {
    position: relative;
}
.login-form.highlighted .form-control
{
    /*  animation: 2.5s ease 0s normal none infinite running pulse; */
    border: 1px solid orange;
    box-shadow: 0 0 5px orange inset;
}
.Get-Started-Today-icon{display:none;}
.login-form.highlighted .Get-Started-Today-icon
{
    height: 116px;
    position: absolute;
    right: -194px;
    top: -58px;
    z-index: 100;
    display:block;	
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
    100% {
        transform: scale3d(2.2, 2.2, 1);
        opacity: 0;
    }
}
/* .btn-help {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #dbdbdb;
    font-size: 17px;
    margin-left: 5px;
    padding: 0;
    position: absolute;
    right: -22px;
    top: 16px;
    z-index: 100;
}
.btn-help:hover, .btn-help:focus{color:orange;}
.login-form .btn-help
{display: none;}
.popover 
{
color:#555;	
}
.login-form.highlighted  .btn-help
{display: block;}
.login-form.highlighted  .popover 
{
display: block !important;
} */
.login-form  .form-group
{position:relative;}
.login-form  .form-group > i
{
    color: #c2c2c2;
    font-size: 28px;
    left: 15px;
    position: absolute;
    top: 7px;
}
.login-form  .form-control
{
    border:none;
    border-radius: 2px;
    box-shadow: none;
    font-size: 20px;
    min-height: 52px;
    padding-left: 44px;	
    padding-right: 0;
}
.login-form  .form-control:focus
{
    border:none;	
}
.login-form  .form-control.error
{
    border:1px solid red;
}

/* ---  LOGIN FORM-- */

/* ---  LOGIN FORM-- */
.we-work
{
    /* padding:50px 0px; */	
}
.we-work h3 {
    color: #555555;
    margin-top:0;
}

.we-work p {
    color: #999;
    padding: 10px 0;
}
/* ---  we-work-- */

/* ---  how-it-works-- */
.how-it-works
{
    /* padding:50px 0px; */
    background:#00527e;
    color:#fff;
}
.how-it-works h3
{
    color:#fff;	
    margin-top:0;
}
.how-it-works p
{
    color:#fff;	
}

/* --- how-it-works-- */

/* --- why-repair -- */
.why-repair 
{
    background:#01314c ;	
}
.why-repair h3
{
    margin:0 0 60px;
    color:#fff;
}
.why-repair .box h4 {
    color: #fff;
    font-size:22px;
    font-weight: 400;
    margin-top: 15px;
}
.why-repair .box p
{
    color:#fff;	
}
/* --- why-repair -- */
.hero-section .disclaimair {
    color: #85b6bb;
    font-size: 14px;
    line-height: normal;
    margin: 5px -15px;
    text-align: center;
}
.disclaimair a {
    color: #fff;
}
.hero-section.blue .btn-primary:hover
{
    background:#ff7547;	
}

/* ============improve-your-credit END======== */

/*================== PRICING PLANS STARTS ==================*/
.pricing-plan-hero
{
    min-height: 420px;	
}
.btn-white-outline {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
}
.btn-white-outline:hover, .btn-white-outline:focus  {
    background: #63b7e3;
    color: #fff;
    border-color:#63b7e3;
}
.btn.help i {
    float: left;
    line-height: 0;
}
.padd_0 {
    padding: 0;
}
.prcing-top
{
    background: rgba(0, 0, 0, 0) linear-gradient(#197bae, #1a4054) repeat scroll 0 0;
    color:#fff;
    min-height: 473px;
    padding: 61px 0 0;
}
.prcing-top p
{
    font-size: 22px;
    color: #fff;
}
.prcing-top h2
{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 5px;
    text-shadow: 0 -1px 0 #004c7e;
}
.pricing-boxes
{
    margin: 40px 0 0;
}

.pricing-boxes .btn-primary-outline
{
    border-width: 1px;
}
.pricing-boxes .btn-md {
    font-size: 17px;
    padding: 11px 24px;
}
.pricing-boxes .btn.help {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #dbdbdb;
    font-size: 17px;
    margin-left: 5px;
    padding: 0;
}
.pricing-container
{
    padding-top:20px;
    padding-bottom:20px;
}
.pricing-table {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    padding: 0px 0 30px;
    margin-bottom:20px;
    transition: all 0.5s ease;
    /*  border-right:1px solid #eee; */
}
.pricing-table:hover, .pricing-table.active
{
    background: #eee;
}
.silver.pricing-table
{
    /*   border-radius: 5px 0 0 0;*/
}
.pricing-table .head {
    display: table;
    margin-bottom: 0;
    padding: 20px 0 15px;
    position: relative;
    width: 100%;
}

.pricing-table .head p
{
    color: #777;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
}
.pricing-table .period {
    position: relative;
    margin:0 0 5px;
    color:#555;
    font-size: 15px;
    font-weight: 400;
}
.pricing-table .middle
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    /* font-family:roboto; */
}
.pricing-table .middle .mobile-btn
{
    display:none;	
}
.pricing-table .price {
    color: #555;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 50px;
    font-weight: 400 !important;
    letter-spacing: -1px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: auto;
}
.pricing-table .small-price
{
    background: #63B7E3 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: table;
    font-size: 12px;
    font-weight: normal;
    margin: 0 auto;
    padding: 1px 9px;
    width: auto;

}
.platinum .small-price,
.platinum .small-price strong
{
    /*  color:#fff;*/
}
.pricing-table .price span {
    font-size: 17px;
    left: -18px;
    position: absolute;
    top: 11px;
}
.pricing-table .price small
{
    font-size: 25px;
    letter-spacing: 0px;
    font-weight:normal;
    font-weight:100;
}
.platinum.pricing-table .price small
{ font-size: 20px; line-height: 0;}
.pricing-content
{
    margin-bottom:27px;
}
.pricing-content p {
    border-bottom: 1px solid #e5e5e5;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    margin: 0 20px;
    padding:10px 0;
}
.pricing-table .btn {
    line-height: normal;
    text-transform: uppercase;
    text-shadow: none;
}
#gold .pricing-table
{
    margin:-47px 0 0;
    /*    border-radius: 2px 2px 0 0; */
}
.platinum  .price
{
    /*     display: inline-block;
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
        margin: 0 !important;
        padding: 9px 0; */
}

.pricing-table.platinum
{
    /*     border-right: 1px solid #e5e5e5; */
}
.btn-gold
{
    background:#e8a53a;
    color:#fff;
}
.btn-gold:hover
{
    background: #0193b6;
    color:#fff;
}
.popular
{
    background: #63b7e3;
    color: rgb(255, 255, 255);
    font-weight: 600;
    /* margin:12px -1px 0; */
    padding:11px 6px;
    position: relative;
    border-radius: 3px 3px 0 0;
}
/* .popular:before
{
    border-bottom: 5px solid transparent;
    border-left: 8px solid transparent;
    border-top: 19px solid #b78724;
    content: "";
    height: 50px;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 100;
}
.popular:after
{
    border-bottom: 5px solid transparent;
    border-right: 8px solid transparent;
    border-top: 19px solid #b78724;
    content: "";
    height: 50px;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 100;
} */
.popover
{
    max-width: 350px;
    width: 100%;
}
.offer-table
{
    color: #555;
    font-size: 19px;
    font-weight: 600;
}
.offer-table > tbody  tr > td
{
    border-color:#ddd;
    padding: 11px 0;
}
.pricing-boxes .tab-content > .tab-pane
{
    display: block;
    visibility: visible;
}
.pricing-boxes .nav-tabs.nav-justified
{
    display: none;
}
.pricing-boxes .nav-tabs.nav-justified li
{
    display: table-cell;
}
.pricing-boxes .nav-tabs.nav-justified > li > a
{
    margin-bottom:0;
    border-radius: 0;
    background: #004d77 ;
    color: #fff;
    font-weight: 600;
}

.pricing-boxes .nav-tabs.nav-justified > li:nth-child(2) a
{
    margin:0 2px;
}
.pricing-boxes .nav-tabs.nav-justified > li.active > a,
.pricing-boxes .nav-tabs.nav-justified > li > a:hover,
.pricing-boxes .nav-tabs.nav-justified > li > a:focus
{
    background: #fff;
    color: #19658C;
    border-bottom:none;
    outline: none;
    border-radius: 0;
}
.pricing-boxes .nav-tabs.nav-justified > li.active > a:after,
.pricing-boxes .nav-tabs.nav-justified > li > a:hover:after
{
    /*     background: #fff none repeat scroll 0 0;
        bottom: -5px;
        content: "";
        height: 5px;
        left: 0;
        position: absolute;
        width: 100%;
        border-radius: 0; */
}

.select-plan-btn
{
    position: relative;  margin: 0;
}
.select-plan-btn.active,
.select-plan-btn:focus

{
    background:#3787cf;
    color:#fff;
}
.select-plan-btn label
{
    padding: 0;
    color:#3787cf;
}
.select-plan-btn:hover label,
.select-plan-btn:focus label,
.select-plan-btn.active label
{
    color:#fff;
}
.select-plan-btn input[type="radio"]
{
    opacity: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%;
    margin: 0;
    cursor: pointer;
}
.select-plan-btn .Plan-Selected
{
    display: none;
}
.select-plan-btn.active .Plan-Selected
{
    display: block;
    color:#fff;
}
.select-plan-btn.active .Select-Plan
{
    display: none;
}
.gaurantee-text {
    border-bottom: 1px solid #5d5d5d;
    color: #848788;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 29px;
    padding: 0 0 29px;
}
.OR
{ color: #fff;
  font-family: "Montserrat",sans-serif;
  font-size: 32px;
  left: 15%;
  position: absolute;
  right: 15%;
  text-align: center;
  top: 31%;
}
.OR:before
{
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 23px;
    width: 30px;
}
.OR:after
{
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 2px;
    right: 0;
    position: absolute;
    top: 23px;
    width: 30px;
}

/*================== PRICING PLANS end ==================*/
.plane-Popup .modal-content {
    border-radius: 0;
}
.plane-Popup button.close {
    position: absolute;
    right: 13px;
    top: 11px;
    z-index: 100;
}
.plane-Popup .modal-title {
    font-size: 30px;
    font-weight: 300;
    margin: 12px 0;
}
.plane-Popup .modal-title strong {
    color: #ef8e27;
    font-weight: 600;
}
.help-text
{
    color: #fff;
    font-size: 15px;
    line-height: 23px;
}
.help-text a{color:#fff;font-weight:600;}
.help-text a:hover{color:#fff;}
.or-box
{
    display: inline-block;
    height: 100%;
    min-height: 600px;
}
.contact-page .common-form
{
    box-shadow: none;padding-top: 0;
}
.border-left {
    border-left: 1px solid #dedede;
    min-height: 420px;
    padding-left: 0;
}
.border-left div {
    padding-left: 20px;
}
.enroll-slider.slider  p{font-size: 24px;}
/* ------------------ testimonials --------------------*/
.testimonials
{
    padding: 20px 0;	
    /*  background:#00527e;  */
}
.testimonials .item
{
    min-height:320px;	
}
.testimonials .carousel-control.left,
.testimonials .carousel-control.right
{
    background: #fff   none repeat scroll 0 0;
    opacity: 0.8;
    z-index: 100;	
}
.testimonials .carousel-caption
{
    color: #555;
    left: 15%;
    margin: 0;
    padding: 0;
    right: 15%;
    text-shadow: none;
    top: 10%;
    text-align:center;
}
.testimonials .carousel-caption > img
{
    border-radius:100%;	
}
.testimonials .carousel-caption .description
{
    font-family: "Montserrat",sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
    margin: 15px 0 10px;	
    color: #5e5e5e;
    position:relative;
}
.testimonials .carousel-caption .description .ion-quote{color:#63b7e3;padding-right:10px;}
.testimonials .yelp {
    border-top: 1px solid #eee;
    display: inline-block;
    font-size: 14px;
    margin-top: 8px;
    padding: 3px 7px;
}
.testimonials  .city-name
{
    margin-bottom:0;/* color:#fff;	 */
}
.testimonials .yelp img
{
    max-width: 50px;	
}
.rating
{color: orange;font-size: 25px;}
.testimonials .client-name
{
    font-size: 20px;
    margin: 17px 0 0;	
    /* color:#fff; */
}
.testimonials .carousel-indicators li
{
    background:#ddd;	
    height:13px;
    width:13px;
    border:none;
    margin:0;
}
.testimonials .carousel-indicators {
    bottom: -15px;
}
.testimonials .carousel-indicators .active {
    background-color: #999;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next, 
.carousel-control .icon-prev
{
    font-size:50px;
    text-shadow:none;
    color:#ccc;	
}
/* ------------------ testimonials --------------------*/
/* ------------------ FAQ --------------------*/
.panel {
    box-shadow: none;
}
.panel-heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
}
.panel-title 
{
    font-weight:normal;	
}
.panel-title a {
    color: #777;
    display: block;
    font-size: 21px;
    padding: 15px 10px;
    position: relative;
    text-decoration: none;
    font-weight:normal;
    font-size:18px;
}
.panel-title a:hover
{
    color:#eb6133;	
} 
.panel-title a:before {
    content: "\f142";
    display: inline-block;
    font-family: "ionicons";
    font-style: normal;
    line-height: 1;
    margin-right: 5px;
    min-width: 15px;
    position: relative;
    top: 1px;
}

.panel-title a:after {
    content: "\f3d8";
    display: inline-block;
    font-family: "ionicons";
    font-style: normal;
    line-height: 1;
    margin-right: 5px;
    min-width: 15px;
    position: relative;
    top: 15px;
    right: 11px;
    position: absolute;
}
a.collapsed:after {
    content: "\f3d0";
}

/* ------------------ FAQ --------------------*/
.response-alert{
    position: fixed;
    right: 10px;
    top: 0px;
    z-index: 999;
    font-weight: 500;
} 
section.contact-page{min-height: 400px !important;}
.StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
.step-quick-report .snapshots .list-group-item {
    float: left;
    width: 33%;
}
.step-quick-report .subscription .panel-body {
    min-height: 256px;
}
/* .ng-invalid-email .btn, .ng-invalid-required .btn, .ng-invalid .btn{color: #333;background-color: #fff;border-color: #ccc;} */
/* .ng-invalid-email .btn:hover, .ng-invalid-required .btn:hover,.ng-invalid .btn:hover {color: #333;background-color: #e6e6e6;border-color: #adadad;} */

#card-errors {
    /*    height: 20px;
        padding: 4px 0;*/
    color: #fa755a;
}
.dashboard-stat2.bordered {
    border: 1px solid #e7ecf1;
}
.dashboard-stat2 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    padding: 15px 15px 30px;
}
.dashboard-stat2, .dashboard-stat2 .display {
    margin-bottom: 20px;
}
.dashboard-stat2, .dashboard-stat2 .display {
    margin-bottom: 55px;
}
.dashboard-stat2 .display:after, .dashboard-stat2 .display:before {
    content: " ";
    display: table;
}
.dashboard-stat2 .display .number {
    float: left;
    display: inline-block;
}
.dashboard-stat2 .display .number h3 {
    margin: 0 0 2px;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
}


.font-green-sharp {
    color: #2ab4c0!important;
}
.dashboard-stat2 .display .number small {
    font-size: 14px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
}
.dashboard-stat2 .display .icon {
    display: inline-block;
    float: right;
    padding: 7px 0 0;
}
.dashboard-stat2 .display .icon>i {
    color: #cbd4e0;
    font-size: 26px;
}
.quick-view-sample-page{
    min-height: initial !important;
    padding: 65px 0px 0px 0px !important;
}
.recommendations-row{padding:40px 0px 0px 0px !important;}
.recommendations-row .pricing-table{
    padding:0px !important;
    margin-bottom: 0px !important;
}
a.navbar-brand img {
    /*width: 285px;*/
}
.step-4.terms-conditions .terms {
    height:180px;
    border:1px solid #ccc;
    padding:6px;
    overflow:auto;
    background: aliceblue;
}
.step-4.terms-conditions .terms p, div.terms li {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}
.step-4.terms-conditions .terms table {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}
.step-4.terms-conditions .terms strong {color:#000;}
.step-4.terms-conditions label{
    font-weight: normal;
    font-size: 12px;
    /* color: #000; */
    line-height: 2;
    text-align: justify;
}
.step-4.terms-conditions {
    margin-top: 25px;
}
.m-heading-1.m-bordered {
    border-right: 1px solid #10161c;
    border-top: 1px solid #10161c;
    border-bottom: 1px solid #10161c;
    padding: 15px;
}
.border-after-red:after, .border-before-red:before, .border-red {
    border-color: #666!important;
}
.m-heading-1 {
    margin: 0 0 20px;
    background: #EEEEEE;
    border-left: 8px solid #88909a;
}

#subscription.modal .modal-content{background: #014B66;}
#subscription.modal .modal-header button{
    border: solid 1px #000;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: #000;
    color: #fff;
}
#subscription.modal .modal-title, #subscription.modal form label, #subscription.modal .text-process h3, #subscription.modal .text-process i{color: #fff;}

.ng-invalid-minlength{border-color:red !important;}
#formverify p{font-size: 17px;}
.loading{position: fixed;
    top: 20%;
    left: 45%;}
#step4-div,#step5-div,.main_wrapper{position: relative;
    background: #fff;}
    .scrollup{position:fixed;top:860px;right:20%;height:50px;}
select.form-control{height:40px !important;}