/*
You can add your own CSS here.

Click the help icon above to learn more.
*/

.home-hero-btn.x-btn.x-btn-regular {
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: normal;
    padding: 13px 31px;
    font-family: 'Montserrat', sans-serif;
}
.x-pricing-column h2
{
text-transform:capitalize !important;	
}
.x-pricing-column-info .x-price{color:#0f6cae;    font-weight: 600;}
.x-pricing-column-info ul>li
{
    font-size: 19px;
    line-height: 30px;
    text-transform: capitalize;	
}
.x-pricing-column-info ul>li i{display:none;}
.x-scroll-top.right{    background: #fff;}
.booking-prompt .x-btn.x-btn-block
 {
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: normal;
    padding: 13px 31px;
	  display:inline;
    font-family: 'Montserrat', 
		sans-serif;
	border-radius:50px;
}

.booking-prompt .h-prompt {
    font-size: 32px;
    padding-bottom: 10px;
    color: #222;
	   letter-spacing:-1px;
}
.booking-prompt .p-prompt
{
    font-size: 19px;
    color: #777;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#666 !important;}
input::-moz-placeholder,textarea::-moz-placeholder
{color:#666 !important;}input:-ms-input-placeholder,
textarea:-ms-input-placeholder{color:#666 !important;}

.wpcf7-form-control
{
border: 1px solid #cccccc !important;
font-size: 17px !important;
min-height: 47px !important;
padding: 0px 19px !important;
border-radius:2px;
margin-bottom:0 !important;
}
.wpcf7-form-control-wrap{margin-bottom: 11px !important;display: block;}
.wpcf7-form-control.wpcf7-submit
{
 font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: normal;
    padding: 13px 31px;
	  display:inline;
    font-family: 'Montserrat', 
		sans-serif;
	border-radius:50px;
	padding: 0 43px !important;
border: none !important;

}
.h-feature-headline span i{margin-right:15px;}
.x-navbar-inner {
    box-shadow: 0 0 5px #163a68;
}

.wpcf7-not-valid-tip{color:#f00;}

.blog .x-header-landmark,
.post-template-default .x-header-landmark
{
margin: 0px;
    padding: 40px 0px 40px;
	  border:none;
    background-color: hsl(205, 82%, 37%);	
}
.blog  .h-landmark,
.post-template-default .h-landmark
{    color: #fff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0;
    font-weight: 500;
}
.blog .site{background:#eee;}
.blog .entry-wrap
{
border: none !important;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    border-radius: 2px;
}
.x-header-landmark,
.x-breadcrumbs a
{color:#fff;}

.vc_section.pricing-section{margin-bottom:-442px !important;}
.pricing-box{background:#b1d052;border-radius: 2px;margin-right: 0.2%;position:relative;z-index:100;}
.pricing-box .plan-name{
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    line-height: normal;
    padding: 18px 0;
    margin: 0;
    font-weight: 500;
	background:#fff;
	font-weight: 600;
	border-radius: 2px 2px 0 0;
}
.pricing-box .price 
{
margin: 0;
padding: 20px 0;
font-weight: 500;
font-size: 70px;
position: relative;
color:#fff;
text-shadow:2px 0 1px #0060a0;
}
.pricing-box .price  strong{
    font-size: 20px;
    font-weight: 400;
}
.pricing-box .price  strong:first-child
 {
    font-size: 20px;
    position: absolute;
    padding:9px 0 0 0;
    margin: 3px 0 0 -15px;
}
.pricing-box .price  small
{
position: absolute;	
font-size: 20px;
}
.pricing-box  p{
    color: #a9ddff;
    font-size: 16px;
    margin: 0 41px;
    border-top: 1px solid #9dd5fa;
    border-bottom: 1px solid #9dd5fa;
    padding: 11px 0;
    line-height: normal;
}
.pricing-box .tag-line
{
    font-weight: 400;
    font-size: 17px;
    color: #000;
    letter-spacing: 0;
    padding:20px 0px 5px;
    line-height: normal;
    margin: 0;
    border-top: 1px solid #9dd5fa;
 /*    border-bottom: 1px solid #9dd5fa; */
    margin: 0 20px;
}

.pricing-box .vc_btn3.vc_btn3-color-danger
{
    background:#EB6133 !important;
    font-size: 16px;
    padding: 9px 40px;
    text-transform: uppercase;
    margin-bottom: -60px;
    box-shadow: 0 1px 4px #999;
}
.pricing-box .vc_btn3.vc_btn3-color-danger:hover{background:#005692 !important;}

.pricing-box .x-ul-icons
{
    padding:35px 40px 0;
    background: #fff;
    margin: 0;
    text-align: center;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 0 7px #ccc;
}
.pricing-box .x-ul-icons li{padding:10px 0;border-bottom:1px solid #ddd;font-weight:500;color:#555;}
.pricing-box .x-ul-icons li:last-child{border-bottom:none;}
.pricing-box .x-ul-icons li i{display:none;}

/* =========== TAB ======== */

.pricing-features-section{padding-top:40rem !important;background: #fff !important;padding-bottom:40px !important;}
.pricing-features-section .x-container{max-width: 1170px;margin: 0 auto;}
.pricing-features-section .features-box{padding-top: 30px;}
.pricing-features-section .x-li-icon{
    padding: 5px 0px;
	    font-weight: 500;
}
.pricing-features-section .x-li-icon [data-x-icon]::before{content: '\f058';color:#3497d9;}

.faq-section .vc_tta-tabs-list{text-align: center;}
.faq-section .x-accordion-inner{border-top:none;}
.faq-section .vc_tta-tabs-list li.vc_tta-tab{max-width: 16%;text-align:center;font-weight: 500;line-height: 21px;font-size: 15px;}
.faq-section .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a{padding: 20px 15px !important; background:#eee !important;margin-right: 2px;max-width: 215px;}
.faq-section .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a{background:#fff !important;}
.faq-section .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels{background: #fff !important;padding: 35px 0 !important;}
.faq-section .h-custom-headline{margin-bottom: 80px;font-weight: 500;}
/* =========== TAB ======== */

/* =========== contact-box ======== */
.contact-box{}
.page-title-inner p{margin-bottom:0;}
.title-bordered{position: relative;color:#000;margin-top:0;text-transform:uppercase;font-weight:500;letter-spacing:0;font-size:22px;
}
.title-bordered:after{position:absolute;content:"";height:3px;background:#3497d9;width:20%;left:0;bottom:-12px;}

.process-listing{margin-top: 40px;}
.process-listing .x-li-icon{color: #999;font-weight: 500;font-size: 19px;padding:8px 0px;border-bottom: 1px solid #eee;}
.process-listing .x-li-icon i{font-size:20px;}
.process-listing [data-x-icon]::before{content:"\f058";font-family:FontAwesome;color:#c12b25}
.value-box{
border: 1px solid #e2e2e2;
border-radius: 2px;
box-shadow: 2px 0 7px #ddd;
margin-bottom: 15px;
text-align: center;
padding: 30px 0;
margin-right: 2%;
}
.value-box .h-custom-headline{margin:0;font-weight: 500;color: #000000;font-size: 20px;letter-spacing: 0;}

/* =========== contact-box END  ======== */
.rtbs .rtbs_menu ul {
    text-align: center;
    margin: 0 0 -1px 0 !important;
}
.entry-content .rtbs .rtbs_menu ul li
 {
     width: 16%;
    text-align: center;
    font-weight: 500;
    line-height: 21px;
    font-size: 15px;
	max-width:216px;
	
}
.entry-content .rtbs .rtbs_menu ul li a
{

    border: 1px solid #e3e3e3;
    background-color: #EBEBEB !important;
    color: #666;
    margin: 0 2px;
    border-radius: 8px 8px 0 0;
    padding: 20px 14px !important;
    font-size: 15px;
    line-height: 21px;
	border-bottom: none;

}
.rtbs > .rtbs_content{background: #fff !important;padding-top: 60px;}
.entry-content .rtbs .rtbs_menu ul li a.active
{
    position: relative;
    color:#000;
    background-color:#fff !important;
	padding-bottom: 8px;
	border-bottom: none;
}
.rtbs_content{border-top:1px solid #eee !important;}
.entry-content .rtbs .rtbs_menu ul li a:focus{outline:1px solid transparent !important}
.rtbs_content .x-column{margin-right: 2%;}

@media(max-width:991px)
{
.pricing-section{padding-left:15px !important;padding-right:15px !important}	
.pricing-section .x-container.width{width: 100%;}	
.pricing-box .tag-line{margin: 0 5px;font-size: 14px;}
.pricing-box .x-ul-icons{padding: 27px 10px 0;}
.pricing-box .x-ul-icons li{font-size: 12px;}

/* tabs */
.entry-content .rtbs .rtbs_menu ul li{width:100%;max-width: 100%;padding-left:0;}
.rtbs_full .rtbs_menu li.mobile_toggle{color: #000;background: #ddd;}
.rtbs_full .rtbs_menu ul::after{top:0px;background: #eee;}
.entry-content .rtbs .rtbs_menu ul li a{margin:0;font-size: 15px !important;padding: 14px 14px !important;border-radius: 0;}

/* tabs END */


}
@media(max-width:767px)
{
.pricing-box{width: 100% !important;margin-bottom:15px;}	
.faq-section .h-custom-headline{margin: 0;}	
.faq-section .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading{margin-bottom:4px !important;}
.faq-section .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title > a{font-size:16px !important;}	
.faq-section .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels{padding: 35px 15px !important;}

.pricing-features-section .features-box{padding:30px 0 0 30px;float: left;}
.pricing-features-section{padding-bottom:0 !important;}
.pricing-box .price{font-size: 55px;}
.pricing-features-section .h-custom-headline{font-size: 23px;letter-spacing: 0;padding: 0 40px;line-height: normal;}
.faq-section .vc_tta-panels{padding-top:0;}
}

@media(max-width:480px)
{
.rtbs_content .x-column{margin-right: 0;width: 100%;float: left;padding-top: 15px !important;text-align: center;}
.rtbs_content .x-img.right, .rtbs_content .alignright{float:none !important;margin:0}
.rtbs_content .x-column ul{text-align: left;}
	
}

