.StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
.step-quick-report .snapshots .list-group-item {
    float: left;
    width: 33%;
}
.step-quick-report .subscription .panel-body {
    min-height: 256px;
}
/* .ng-invalid-email .btn, .ng-invalid-required .btn, .ng-invalid .btn{color: #333;background-color: #fff;border-color: #ccc;} */
/* .ng-invalid-email .btn:hover, .ng-invalid-required .btn:hover,.ng-invalid .btn:hover {color: #333;background-color: #e6e6e6;border-color: #adadad;} */

#card-errors {
    height: 20px;
    padding: 4px 0;
    color: #fa755a;
}
/* ---- CSS JAG ----*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: "poppins", sans-serif;
    padding-top: 74px;
    transition: ease all 0.5;
}
strong,
label {
    font-weight: 500
}
img {
    max-width: 100%
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}
.lightblue-background {
    background: #7facc4;
}
.blue-background {
    background: #01314C;
}
.navyblue-background {
    background: #307BBB;
}
.green-background {
    background: #7B9F0C;
}
.grey-background {
    background: #dddddd;
}
.lightgrey-background {
    background: #ecf2f4 none repeat scroll 0 0;
    border-bottom: 1px solid #ced4d6;
    border-top: 1px solid #dee4e6;
}
.navyblue-background {
    background: #307BBB;
}
.orange-background {
    background: #eb6133;
}
.navbar-brand {
    height: auto;
    padding: 14px 0
}
.navbar-brand > img {
    display: block;
    max-height: 45px
}
.padd_0 {
    padding: 0
}
.padd_right_0 {
    padding-right: 0
}
.padd_left_0 {
    padding-left: 0
}
.padd_bott_0 {
    padding-bottom: 0
}
.form-group.mar_right_0 {
    margin-right: 0
}
.btn {
    border: none;
    border-radius: 2px;
}
.btn-md {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 29px;
    text-transform: uppercase;
}
.btn-lg {
    font-size: 22px;
    font-weight: 400;
    padding: 11px 35px;
}
.btn-xl {
    font-size: 26px;
    font-weight: 600;
    padding: 15px 0px
}
.btn-green {
    background: #8dab00;
    color: #fff
}
.btn-info {
    background: #19b1bb;
    color: #fff
}
.btn-red {
    background: #D62B28 none repeat scroll 0 0;
    color: #fff
}
.btn-primary {
    background: #0099d1;
}
.btn-primary:hover {
    background: orange;
}
.btn-primary-outline {
    background: none;
    border: 1px solid #0099d1;
    color: #0099d1
}
.btn-primary-outline:hover {
    background: #0099d1;
    color: #fff;
}
.btn-orange {
    background: #ed9b32;
    color: #fff
}
.btn-orange:hover {
    background: #cd7b12;
    color: #fff
}
.btn-default-outline {
    background: none;
    border: 1px solid #ddd;
    color: #aeacac
}
.btn-default-outline:hover {
    color: #555;
    background: #ddd;
    border: 1px solid #999
}
.intro-section .btn {
    font-size: 24px;
    font-weight: 300;
    padding: 13px 66px
}
p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: #888;
}
section {
    padding: 40px 0px;
}
.page-title {
    margin-bottom: 30px;
}
.page-title h1 {
    margin-top: 0px;
    letter-spacing: -1px;
}
.page-title p {
    font-size: 20px;
    margin: 0;
}
.white.page-title,
.white.page-title p {
    color: #fff;
}
.btn-signup-for {
    font-size: 19px;
    font-weight: 300;
    padding: 12px 45px
}
.btn-blue-outline {
    border: 2px solid #99c6de;
    background: none;
    color: #99c6de
}
.btn-blue-outline:hover {
    background: #99c6de;
    color: #fff
}
/* --------------------- navbar-static-top  --------------------- */

.navbar-static-top {
    position: fixed;
    width: 100%;
    background: #fff;
    min-height: 50px;
    top: 0;
    border: medium none;
    box-shadow: 0 0 2px #848484
}
.call_to {
    background: #d36745 none repeat scroll 0 0;
    color: #fff;
    display: none;
    font-size: 18px;
    font-weight: bold;
    padding: 25px 14px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
}
.call_to i {
    font-size: 18px;
}
.call_to:hover {
    color: #fff;
    background: #f00;
}
.Rebuild {
    padding: 25px 0;
}
.Rebuild span {
    color: #d56846;
    display: block;
    font-size: 38px;
    line-height: 15px;
    padding-top: 5px;
}
.Rebuild span a {
    color: #01314c;
    text-decoration: none;
}
.brands {
    padding: 15px 0;
}
.brands img {
    max-height: 35px;
}
.navbar-right .get-started {
    margin: 10px 0;
}
.navbar-nav > li a.btn {
    border-right: 2px none;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 16px 0  16px 5px;
    padding: 7px 20px;
}
.navbar-nav > li a.btn:hover {
    background: orange;
}
/* --------------------- navbar-static-top  --------------------- */

.form-box {
    background: #01314c none repeat scroll 0 0;
    padding: padding: 40px 0;
    width: 100%;
    z-index: 100;
}
.form-box .form-group {
    margin-bottom: 0;
}
.form-box .form-group .btn-lg {
    padding: 11.5px 21px;
}
/* ---------------------------------- */

.hero-section {
    /*  background: #01314c; */

    background: #01314c url("../assets/images/banner.jpg") no-repeat scroll 0 0 / cover;
    color: #fff;
}
.intro-section {
    margin-bottom: 25px;
    position: relative;
}
/* .intro-section .btn:hover {
    background: #fff;
    color: #D62B28
} */
.hero-section h1 {
    font-size: 48px;
    font-weight: 300;
    margin: 0 0 10px;
    color: #fff;
}
.hero-section h1 span {
    font-weight: 500;
}
.hero-section p {
    font-size: 27px;
    font-weight: 300;
    line-height: normal;
    color: #fff;
}
.hero-section .disclaimair {
    color: #44748f;
    font-size: 13px;
    margin: 5px -15px;
    text-align: center;
    line-height: normal;
}
.hero-section .login-form {
    margin-top: 20px;
}
.disclaimair a {
    color: #337ab7;
    padding: 5px 0;
}
.hero-section .features {
    text-align: right;
}
.calltoaction {
    position: relative;
}
.calltoaction:before {
    background: rgba(0, 0, 0, 0) url("../assets/images/arrow.png") no-repeat scroll 0 0 / 100% auto;
    content: "";
    height: 85px;
    left: 0;
    position: absolute;
    top: 0;
    width: 62px;
    z-index: 100;
}
.hero-section .calltoaction.login-form:before{  left: -84px;top:-55px}
/* ---------------- hero-section.blue  -------------- */

.hero-section.blue {
    background: rgba(0, 0, 0, 0) url("../images/banner.jpg") repeat scroll 0 0 / cover;
}
.hero-section.blue hr {
    margin: 20px 0px 30px;
    border-color: #20506b;
}
.hero-section.image {
    background: rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll 0 -175px / cover;
}
.hero-section.image hr {
    border-color: #484848;
}
.hero-section.image .disclaimair {
    color: #838383;
}
.intro-section hr {
    /*  border: 1px solid #0e608b; box-shadow: 0 -1px 0 #07305b; */
}
.intro-features {
    display: table;
    padding: 20px 0;
}
.intro-features .feature {
    border-right: 1px solid #010101;
    box-shadow: 1px 0 0 #353535;
    color: #fff;
    display: table-cell;
    font-size: 17px;
    min-height: 45px;
    padding: 0 15px;
    text-align: center;
    vertical-align: middle;
}
.intro-features .feature:last-child {
    border: none;
    box-shadow: none;
}
.intro-features .feature strong {
    color: orange;
}
.intro-section .btn {
    margin-right: 5px;
}
/* ------------------------------ */
/* ---  LOGIN FORM-- */

.stepform-box {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 15px 38px 43px;
}
.login-form .form-group {
    position: relative;
}
.login-form.highlighted .form-control {
    /*  animation: 2.5s ease 0s normal none infinite running pulse; */

    border: 1px solid orange;
    box-shadow: 0 0 5px orange inset;
}
@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
    100% {
        transform: scale3d(2.2, 2.2, 1);
        opacity: 0;
    }
}
.login-form .form-group {
    position: relative;
}
.login-form .form-group > i {
    color: #c2c2c2;
    font-size: 28px;
    left: 15px;
    position: absolute;
    top: 7px;
}
.form-control {
    /*  border:none; */

    border-radius: 2px;
    box-shadow: none;
    font-size: 18px;
    min-height: 52px;
    font-weight: 300;
}
.login-form .form-control:focus {
    border: none;
}
/* ---  LOGIN FORM-- */
/* ---  LOGIN FORM-- */

.we-work {
    /* padding:50px 0px; */
}
.we-work h3 {
    color: #555555;
    margin-top: 0;
}
.we-work p {
    color: #999;
    padding: 10px 0;
}
/* ---  we-work-- */
/* ---  how-it-works-- */

.how-it-works {
    /* padding:50px 0px; */

    background: #00527e;
    color: #fff;
}
.how-it-works h3 {
    color: #fff;
    margin-top: 0;
}
.how-it-works p {
    color: #fff;
}
/* --- how-it-works-- */
/* --- why-repair -- */

.why-repair {
    background: #01314c;
}
.why-repair h3 {
    margin: 0 0 60px;
    color: #fff;
}
.why-repair .box h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-top: 15px;
}
.why-repair .box p {
    color: #fff;
}
/* --- why-repair -- */

.copyright {
    background: #555;
    color: #848788;
    padding: 30px 0;
    text-align: center;
}
.copyright a {
    color: #848788;
}
.copyright a:hover {
    color: #eb6133;
    text-decoration: none;
}
.features-list {
    display: inline-block;
    font-size: 25px;
    list-style: outside none none;
    padding: 0;
}
.features-list li {
    padding: 10px 0;
}
.features-list li:before {
    border: 1px solid #01314c;
    border-radius: 100%;
    content: "\f121";
    float: left;
    font-family: ionicons;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    margin: 2px 15px 0 0;
    text-align: center;
    width: 34px;
}

/* --- why-repair -- */

.why-repair {}.why-repair h3 {
    margin: 0 0 60px;
    color: #fff;
}
.why-repair .box {
    margin: 20px 0;
    /* min-height: 305px; */
}
.why-repair .box h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-top: 15px;
}
.why-repair .box p {
    color: #fff;
}
/* --- why-repair -- */

/* ------------------ Improve --------------------*/

.Improve {
    padding-top: 60px;
}
.Improve .page-title {
    padding-top: 15px;
}
/* ------------------ Improve --------------------*/

.seals {
    background: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #e8e8e8
}
/* ---------------- form-with-features --------------*/

.form-with-features .login-form {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 0 3px #484848;
    padding:70px 34px 20px;
    position: relative;
    z-index: 1;
    border-radius:3px 3px 0 0;

}
.form-with-features .login-form .form-control {
    border: 1px solid #ccc;
}
.form-with-features .login-form .head {
    background: #1076bc none repeat scroll 0 0;
    font-size: 23px;
    color: #fff;
    left: 0;
    padding: 6px 0;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
    border-radius:3px 3px 0 0;
}
.login-form.side-box {
    color: #555;
    z-index: 0;
    min-height: 300px;
}
.login-form.side-box.left {
    margin: 65px -30px 0 50px;
}
.login-form.side-box.right {
    margin: 65px 48px 0 -30px
}
.features-list {
    font-size: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
.features-list li {
    padding: 6px 0px;
}
.features-list li:before {
    border: 1px solid #014b66;
    border-radius: 100%;
    content: "\f121";
    float: left;
    font-family: ionicons;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    margin-right: 12px;
    text-align: center;
    width: 20px;
    color: #014b66;
}
.large.features-list li
{    display: inline-block;
     font-size: 23px;
     padding: 7px 0;}
.large.features-list li:before{    font-size: 14px;
                                   height: 30px;
                                   line-height: 30px;
                                   margin: 1px 10px 0 0;
                                   width: 30px;}


/* ---------------- form-with-features --------------*/
/* STEPS */

.step-container {}.progressbar.steps {
    counter-reset: step;
    display: block;
    margin-bottom: 90px;
}
.progressbar.steps li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #ccc;
}
.progressbar.steps li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 28px;
    border: 2px solid #ccc;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar.steps li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #ccc;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar.steps li:first-child:after {
    content: none;
}
.progressbar.steps li.active {
    color: #ed9b32;
}
.progressbar.steps li.active:before {
    border-color: #ed9b32;
    color: #ed9b32;
}
/* .progressbar.steps li.active + li:after {
    background-color: #55b776;
} */
.progressbar.steps li.done {
    color: #55b776;
}
.progressbar.steps li.done:before {
    border-color: #55b776;
    color: #55b776;
    content: "\f00c";
    font-family: fontawesome;
    line-height: 24px;
}
.progressbar.steps li.done:after {
    border-color: #55b776;
}
.progressbar.steps li.done:after {
    background-color: #55b776;
}
.progressbar.steps li.done + li:after {
    background-color: #55b776;
}
/* STEPS */



/* ---- CSS JAG ------*/


.step-processing{ color: #000; font-size: 44px; }
.terms-conditions-section p{ font-size: 16px; font-weight: normal; text-align: justify; }
footer { position: absolute; width: 100%; }
.step-container { min-height: 520px;}
.oow-questions {margin-top:10%;}
.oow-questions i{font-size:44px;}
.oow-questions span{width: 100%; float: left;}